%html
    %head
        %title List of exercies
    %body
        %link{"rel" => "javascript", "href" => "js/jquery_1_7_1/jquery.js", "type" => "text/javascript"}
            :javascript
                function delete_exercise( form, id ) {
                    action = form.action 
                    form.action = action + id 
                    form.submit();
                }
            :javascript
                $(document).ready(function() {
                   alert("foo");
                });
        %form{ :method => "post", :action => "http://localhost:4567/workout_api/save_exercise/name/description/123"}
            %input{ :type => "submit", :value => "create"}
        %a{ :href => "http://localhost:4567/workout_api/show_exercises/"}show

        %table{:border => "1", :cellspacing => "0"}
            -@exercises.each do |e|
                %tr
                    %td #{e.id}
                    %td #{e.name}
                    %td #{e.description}
                    %td #{e.exercise_unit_id}
                    %td 
                        %form{ :method => "post", :_method => "delete", :action => "http://localhost:4567/workout_api/delete_exercise/#{e.id}" }
                          %input{ :type => "button", :value => "Delete", :onclick => "delete_exercises('foo', #{e.id})"}
