%html
    %head
        %title List of exercies
    %body
        %script{:src => "/workout_api/jquery.js", :type => "text/javascript"}
        :javascript
            $(document).ready(function() {
                delete_url = '/workout_api/delete_exercise/'
            });
            function delete_exercise( id ) {
                console.log(delete_url + id)
                $.ajax({
                    url: delete_url + id,
                    type: 'post',
                    success: function(result) {
                        var rowId = '#row_'+id;
                        console.log($(rowId).json)
                        $(rowId).remove()
                    }
                });
            }
        %form{ :method => "post", :action => "/workout_api/save_exercise/name/description/123"}
            %input{ :type => "submit", :value => "create"}
        %a{ :href => "/workout_api/show_exercises/"}show

        %table{:border => "1", :cellspacing => "0", :id => "exercise_table"}
            -@exercises.each do |e|
                %tr{:id => "row_#{e.id}"}
                    %td #{e.id}
                    %td #{e.name}
                    %td #{e.description}
                    %td #{e.exercise_unit_id}
                    %td
                        %input{ :type => "button", :value => "Delete", :onclick => "delete_exercise(#{e.id})"} 
                        //  %input{ :type => "button", :value => "Delete", :onclick => "delete_exercise(exercise_form_#{e.id}, #{e.id})"}
